*{
    margin: 0;
    padding: 0;
}

/* .mainfaq{
    background-color: aqua;
} */

.accord{
    margin:10px;
    /* background-color: rgb(200, 255, 118); */
}

.accSum{
    background-color: rgb(200, 255, 118);
}