*{
    margin: 0;
    padding: 0;
}

.head{
    display: flex;
    background-color: blue;
    height: 70vh;
    width: 100%;
    /* background-image: url('haha.jpg'); */
    background-repeat: no-repeat;
    opacity: 0.8;
    align-items: center;
}

.headtext{
    opacity: 1;
}