* {
  margin: 0;
  padding: 0;
}

.mynav {
  height: 12vh;
  background-image: linear-gradient(to bottom right, #4d784e 0%, #e1d798 100%);
  display: flex;
  flex-direction: row;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
}

.navLogo img {
  margin: 0px 50px;
}

.icons {
  display: flex;
  align-items: center;
  margin-right: 80px;
  color: rgb(103, 86, 69);
  text-decoration: none;
}

.featureIcons {
  display: flex;
  color: white;
  margin-left: 40vw;
  text-decoration: none;
}

.userIcon {
  font-size: 24px;
}
